build/
venv/*
**/.idea/*
**/.vscode/*
**/cmake-build-*/*

vcpkg
vcpkg_installed

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.jso
